{% extends 'base.html.twig' %}

{% block body %}
    <h1 align="center">{{ kingdom_name }}</h1>
    <hr/>
    <table border="1" align="center">
        <tr>
            {% for resource,value in resOfUK %}
                <td><b>{{ resource }}: {{ value }}</b></td>
            {% endfor %}
        </tr>
        <tr>
            {% for maxValue in maxResOfUK %}
                <td><b>MAX: {{ maxValue }}</b></td>
            {% endfor %}
        </tr>
    </table>
    <hr/>
    {% for unit in unitsInUK %}
        <div style="display: inline-block; width: 30%; margin-right: 1em; margin-bottom: 1em; vertical-align:top;">
            <table border="1" align="center" width="300px">
                <tr style="text-align: center; background-color: #aaaaaa;">
                    <td colspan="2"><b>{{ unit.name }} (count: {{ unit.count }})</b></td>
                </tr>
                <tr>
                    <td><b>Attack: </b><span>{{ unit.attack }}</span></td>
                    <td><b>Live: </b><span>{{ unit.live }}</span></td>
                </tr>
                <tr style="text-align: center; background-color: #bbbbbb;">
                    <td colspan="2"><b>Need for unit:</b></td>
                </tr>
                <tr>
                    <td colspan="2"><b>Resources: </b><span>{{ unit.resNPUGname }}</span></td>
                </tr>
                <tr>
                    <td colspan="2"><b>Building level: </b><span>{{ unit.NBLGname }}</span></td>
                </tr>
                <tr>
                    <td colspan="2"><b>Time: </b><span>{{ unit.timePU|intToTime }}</span></td>
                </tr>
                <tr style="text-align: center; background-color: #cccccc;">
                    <td colspan="2"><b>Actions: </b></td>
                </tr>
                <tr style="text-align: center;">
                    <td colspan="2">
                        <input type="range" id="myRange{{ unit.name }}" value="0"
                               max="{{ maxUnitCountArr[unit.name] }}" onclick="myFunction{{ unit.name }}()">
                        <a id="demo{{ unit.name }}" href="">select count</a>
                    </td>
                </tr>{% if unit.orderCount > 0 %}
                <tr style="text-align: center;">
                    <td><b>1 unit ready after:</b> <span id="clockdiv{{ unit.name }}">00:00:00</span></td>
                    <td>{{ unit.orderCount - 1 }} units left</td>
                </tr>{% endif %}
            </table>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
<script>
    {% for unit in unitsInUK %}
    function myFunction{{ unit.name }}() {
        var x = document.getElementById("myRange{{ unit.name }}").value;
        if(x > 0){
            document.getElementById("demo{{ unit.name }}").href = "/unit/order/{{ unit.name }}/count/" + x;
            document.getElementById("demo{{ unit.name }}").innerHTML = 'Order ' + x + ' units';
        }
    }
    {% if unit.orderCount > 0 %}
    var deadline{{ unit.name }} = '{{ unit.timePU|intPlusNowDateTime }}';
    function getTimeRemaining{{ unit.name }}(endtime){
        var t = Date.parse(endtime) - Date.parse(new Date());
        var seconds = Math.floor( (t/1000) % 60 );
        var minutes = Math.floor( (t/1000/60) % 60 );
        var hours = Math.floor( (t/(1000*60*60)) );
        return {
            'total': t,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
    }
    function initializeClock{{ unit.name }}(id, endtime){
        var clock = document.getElementById(id);
        var timeinterval = setInterval(function(){
            var t = getTimeRemaining{{ unit.name }}(endtime);
            var h = t.hours;
            var m = t.minutes;
            var s = t.seconds;
            if(h < 10){ h = '0' + h; }
            if(m < 10){ m = '0' + m; }
            if(s < 10){ s = '0' + s; }
            clock.innerHTML = h + ':' + m + ':' + s;
            if(t.total<=0){
                clearInterval(timeinterval);
                window.location.reload();
                clock.innerHTML = '00:00:00';
            }
        },1000);
    }
    initializeClock{{ unit.name }}('clockdiv{{ unit.name }}', deadline{{ unit.name }});
    {% endif %}

    {% endfor %}
</script>
{% endblock %}